/* css/modal-delete-funcionario.css */
#modal-delete-funcionario.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-delete-funcionario .modal-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 600px;
}

#modal-delete-funcionario .modal-title {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;
    color: #333;
}

#modal-delete-funcionario .modal-title.success {
    color: #28a745; /* Verde */
}

#modal-delete-funcionario .modal-title.success i {
    margin-right: 10px;
}

#modal-delete-funcionario .modal-title.error {
    color: #dc3545; /* Vermelho */
}

#modal-delete-funcionario .modal-title.error i {
    margin-right: 10px;
}

#modal-delete-funcionario .modal-message {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

#modal-delete-funcionario .modal-buttons {
    margin-top: 20px;
    text-align: right;
}

#modal-delete-funcionario .modal-buttons .btn {
    background-color: #73b4ff;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

#modal-delete-funcionario .modal-buttons .btn:hover:not(:disabled) {
    background-color: #5599e6;
}

#modal-delete-funcionario .modal-buttons .delete-btn {
    background-color: #ff4444;
}

#modal-delete-funcionario .modal-buttons .delete-btn:hover {
    background-color: #cc0000;
}