.titulo-secao i { /* Ícone do título */
    color: #73b4ff; /* Cor do ícone */
    margin-right: 5px; /* Espaço entre ícone e texto */
}

.titulo-secao {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Usar Flexbox no container principal */
    flex-direction: column; /* Itens em coluna */
    font-weight: bold;
}

.titulo-secao p {
    margin: 0; /* Remove margem padrão */
    display: flex; /* Alinha os elementos horizontalmente */
    /*justify-content: flex-end; /* Alinha os filtros à direita */
    align-items: center; /* Alinha os elementos verticalmente */
}

.titulo-secao p {
    margin: 0; /* Remove margem padrão */
    display: flex; /* Alinha os elementos horizontalmente */
    /*justify-content: flex-end; /* Alinha os filtros à direita */
    align-items: center; /* Alinha os elementos verticalmente */
}

/* Estilização dos filtros */
.titulo-secao .filtros {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; /* Impede que os filtros encolham demais */
}

.titulo-secao .home-link i {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.titulo-secao .home-link:hover i {
    color: #5599e6;
}

/* Título das Seções */
.section-title {
    width: 100%;
    font-size: 18px;
    color: #333;
    margin: 5px 0 0px;
    background-color: #73b4ff;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    font-weight: bold;
}

.mensagem-sucesso {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.mensagem-erro {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.relatorio-section {
    margin-bottom: 30px;
}
.relatorio-section h3 {
    margin-bottom: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
.filter-form {
    margin-bottom: 20px;
}
.filter-form select, .filter-form button {
    padding: 8px;
    margin-right: 10px;
}
canvas {
    max-width: 400px;
    max-height: 400px;
    margin: 20px 0;
}
.paginacao a {
    padding: 5px 10px;
    margin: 0 2px;
    text-decoration: none;
    color: #333;
}
.paginacao a.active {
    background-color: #36A2EB;
    color: white;
}